# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [91]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    elif a > b:
        return a
    else:
        return b
    
# SOLUTION IMPROVEMENT
    if a % 2 == 0 and b % 2 == 0:
            return min(a, b)
    else:
        return max(a,b)

In [92]:
# Check
lesser_of_two_evens(2,4)

2

In [93]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [94]:
def animal_crackers(text):
    split_words = text.split(" ")
    
    if split_words[0][0].lower() == split_words[1][0].lower()
        return True
    else:
        return False
    
# SOLUTION IMPROVEMENT
    return split_words[0][0].lower() == split_words[1][0].lower()

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):
    
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False
    
# SOLUTION IMPROVEMENT
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [13]:
# Check
makes_twenty(20,10)

True

In [14]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [95]:
def old_macdonald(name):
    letters = [letter for letter in name]
    letters[0] = letters[0].upper()
    letters[3] = letters[3].upper()
    return "".join(letters)

# SOLUTION IMPROVEMENT
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [16]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [19]:
def master_yoda(text):
    sentence = text.split()
    sentence.reverse()
    return " ".join(sentence)

In [20]:
# Check
master_yoda('I am home')

'home am I'

In [21]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [22]:
def almost_there(n):
    if n > 90 and n < 110 or n > 190 and n < 210:
        return True
    else:
        return False
# SOLUTION IMPROVEMENT
    return (abs(100 - n) <= 10 or (abs(200 - n) <= 10))

In [23]:
# Check
almost_there(104)

True

In [24]:
# Check
almost_there(150)

False

In [25]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [57]:
def has_33(nums):
    
    check = "".join(str(num) for num in nums)
    
    if "33" in check:
        return True
    else:
        return False
    
# I LIKE MINE BETTER

In [58]:
# Check
has_33([1, 3, 3])

True

In [47]:
# Check
has_33([1, 3, 1, 3])

False

In [48]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [61]:
def paper_doll(text):
    
    paper_word = []
    letters = [letter for letter in text]
    
    for letter in letters:
        paper_word += letter * 3
    
    return "".join(paper_word)

# SOLUTION VERSION :
    paper_word = "" #uses string instead of list

In [62]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [63]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [96]:
def blackjack(a,b,c):
    
    total = a + b + c
    
    if total <= 21:
        return total
    elif a == 11 or b == 11 or c == 11 and total > 21 :
        total -= 10
        if total > 21:
            return "BUST"
        else:
            return total
    else:
        return "BUST"
    
# SOLUTION IMPROVEMENT
    elif 11 in [a, b, c] and total - 10 <= 21:
        return total
#   ELSE AT BOTTOM STAYS THE SAME, THE ELIF NEEDS TO CHANGE

In [97]:
# Check
blackjack(5,6,7)

18

In [98]:
# Check
blackjack(9,9,9)

'BUST'

In [99]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [100]:
def summer_69(arr):
    ignore = False
    total = 0
    
    for num in arr:
        if num == 6:
            ignore = True
            
        if ignore == False:
            total += num
            
        if num == 9:
            ignore = False
    
    return total

In [101]:
# Check
summer_69([1, 3, 5])

9

In [102]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [103]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [75]:
def spy_game(nums):
    spy = "".join(str(num) for num in nums)
    
    if "007" in spy:
        return True
    else:
        return False
# SOLUTION VERSION (I got this one totally wrong)
    code = [0, 0, 7, "x"]
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [76]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [77]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [78]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [86]:
def count_primes(num):
    
    num_list = list(range(2, num+1))
    prime_count = 0
    
    for number in num_list:
        found_one = False
        found_two = False
        counter = 2
        
        while counter <= number:
            if found_one and found_two:
                break
            
            if number % counter == 0 and found_one == False:
                found_one = True
            elif number % counter == 0 and found_one == True:
                found_two = True
            
            counter += 1
            
        if found_two == False:
            prime_count += 1
            
    return prime_count

In [89]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!