In [4]:
# RANGE: range(start, stop, step) start and step are optional

In [1]:
mylist = [1, 2, 3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [7]:
# can be used to generate a list
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [9]:
# ENUMERATE

In [12]:
# counting
index_count = 0

for letter in "abcde":
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
# better
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [13]:
# how to use enumerate

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:
# because tuples were returned, we use tuple unpacking

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [24]:
# ZIP FUNCTION: 
# combines lists, zip will only combine based on the shortest list's length.
# If another list has more elements they are ignored

In [18]:
mylist1 = [1, 2, 3]
mylist2 = ["a", "b", "c"]

In [20]:
# returns tuples
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [22]:
mylist3 = [100, 200, 300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [25]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [61]:
# IN OPERATOR:
# can be used to verify if something is an object
# there is also a "not in" operator, does the opposite

In [28]:
"x" in [1, 2, 3]

False

In [29]:
"x" in ["x", "y", "z"]

True

In [30]:
2 in [1, 2, 3]

True

In [31]:
"a" in "a world"

True

In [32]:
"mykey" in {"mykey": 345}

True

In [33]:
d = {"mykey": 345}
345 in d

False

In [34]:
345 in d.keys()

False

In [35]:
345 in d.values()

True

In [37]:
# MIN AND MAX
# min: reports lowest value in a list
# max: reports highest value in a list

In [39]:
example_list = [1, 10, 100, 1000]
min(example_list)

1

In [40]:
example_list = [1, 10, 100, 1000]
max(example_list)

1000

In [45]:
# RANDOM LIBRARY:
# library that contains randomizing functions

In [46]:
# to import functions from a library
# shuffle randomizes a list
from random import shuffle

In [43]:
another_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffle(another_list)

In [44]:
another_list

[6, 10, 5, 1, 2, 3, 4, 9, 7, 8]

In [47]:
# randint grabs a random int
from random import randint

In [48]:
randint(0,100)

2

In [49]:
randint(10, 15)

14

In [52]:
# HOW TO GET USER INPUT
# IMPORTANT: input accepts anything AS A STRING

In [51]:
input("Enter a number here: ")

Enter a number here: 10

'10'

In [54]:
result = input("Type whatever: ")

Type whatever: hi

result

In [55]:
result

'hi'

In [56]:
result = input("Favorite number: ")

Favorite number: 42

In [57]:
# to convert it from a string to a number
int(result)
# can also use float(result)

42

In [58]:
result

'42'

In [59]:
result = int(result)

In [60]:
result

42