In [2]:
# we already know how to print 
print([1, 2, 3])

[1, 2, 3]

In [3]:
# we also know how to print multiple lines
print([1, 2, 3])
print([4, 5, 6])
print([7, 8, 9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [4]:
# and we know how to define functions to avoid repeat code
def display(row1, row2, row3):
    print(row1)
    print(row2)    
    print(row3)

In [5]:
example_row = [1, 2, 3]

display(example_row, example_row, example_row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [7]:
# doesn't have to be a list of numbers (already known)
row1 = [" ", " ", " "]
row2 = [" ", " ", " "]
row3 = [" ", " ", " "]

display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [8]:
# example relevant to tic-tac-toe
row2[1] = "X"

display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']